<!-- <p>demo works!</p>
<img [src]="imageURL" alt="" height="200px" width="200px">
<a href="https://www.youtube.com/results?search_query=jawan+songs">{{fname}}</a>
<a href="https://www.google.com/search?q=google&oq=google&aqs=chrome..69i57j69i59j69i60l3.2815j0j7&sourceid=chrome&ie=UTF-8">{{fname2}}</a>
<a [href]="fname">{{ans}}</a> -->
<!-- <button (click)= "magic()"> click on me man</button> -->
<h2>{{connstant}}</h2>
<label  for="">Enter magic:</label>
<input  type="text" (input)="magic($event)">
<!-- {{newMagic}} -->

<button (click)="createmagic()" > create</button>

<h2>{{connstant}}</h2>
<input type="text" [(ngModel)]="product">
<button (click)="creatproduct()"> create</button>
<h1>{{product}}</h1>
<!-- <h1 [style]="shiva">hello salla</h1> -->


<button (click)='increment()' class="btn btn-success">+1</button>
<button (click)='decrement()' class="btn btn-danger">-1</button>

<app-child [nani]="number">

</app-child>
