<p>mock-an works!</p>
<!-- <span [ngClass]="'nani'">

shivakuma
nani

</span>
<div [ngClass]="'kumar'"  #example >
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ut rem soluta molestias consequatur eveniet qui tenetur sit, fugit veniam rerum quasi debitis provident est, explicabo esse dolore modi. Veniam omnis hic, ut velit aut sed commodi quia corrupti eius, maiores perspiciatis dolore cum consequuntur, ab recusandae nemo numquam aperiam quaerat? Ad quasi doloremque et aliquam ex facere dicta possimus, accusantium minima alias cumque adipisci voluptatem delectus excepturi rerum! Commodi, delectus modi eveniet corporis magnam aliquam ex alias exercitationem fugit, voluptatem ea repellat? Commodi accusantium perspiciatis accusamus. Repellat molestias officia, 
    quas beatae consequuntur consectetur tempore recusandae asperiores consequatur dolorum quo?

</div>
<div>
<button (click)="sumbit()"> click</button>

</div> -->
<div *ngIf="camer">
 
    hi pry
    
    
</div>
<app-mchild (nani)="incom($event)">     </app-mchild>


